@model EducationalResourceManagement.Domain.Entities.Teacher

@{
    ViewData["Title"] = "Teacher Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Name: @Model.Name</h3>
</div>

<div>
    <a href="@Url.Action("Index", "Teacher")">Back to List</a>
</div>
