@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click below to manage courses:</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Course")">Manage Courses</a>
</div>

